
<!doctype html>
<html lang="en">
<head>
  <title>IntelliServer</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="">IntelliServer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost/api-docs/">Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/chat">Playground</a>
            </li>
          </ul>
          <span class="navbar-text ">
            <a href="https://github.com/intelligentnode/IntelliServer" aria-label="Homepage" class="footer-octicon" title="GitHub">
              <svg aria-hidden="true" class="" height="24" version="1.1" viewBox="0 0 16 16" width="24">
                <path fill="#fff" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </nav>
  </header>
  <div class="art1  d-md-none d-lg-block">
    <img src="/assets/shape (1).svg" alt="">
  </div>
  <div class="art2">
    <img src="/assets//shapesun.png" alt="">
  </div>
  <div class="art3">
    <img src="/assets//shape.svg" alt="">
  </div>

  <section class="main-section">
    <div class="container">
      <h2 class="page-heading">Accelerate your AI integrations.</h2>
      <ul class="list">
        <li><a href="/chat">Chatbot </a></li>
        <li><a href="#">LLM Evaluation</a></li>
        <li><a href="#"> Semantic Search</a></li>
        <li><a href="#">Image Generation</a></li>
        <li><a href="#">Fine Tuning</a></li>
        <li><a href="#">Document Parsers</a></li>
        <li><a href="#">OCR</a></li>
      </ul>
    </div>
  </section>
  <footer class="home-footer">
    {{!-- <div class="px-4 py-4 lg:px-24 text-center">© IntelliServer <!-- -->2023</div> --}}
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex">
          <button class="btn btn-primary ms-auto rounded-pill my-2 primary-bg connect-button">
            <a href="https://www.intellinode.ai/" target="_blank">
             Connect Your Data
            </a>
          </button>
        </div>
      </div>
    </div>
  </footer>


<!-- 
  <h1>IntelliServer</h1>
  <p>Access AI models as microservice with IntelliServer.</p>

  <p><a href="https://github.com/intelligentnode/IntelliServer">Visit the GitHub repository.</a></p>

  <p><a href="https://github.com/intelligentnode/IntelliServer/wiki">Check the documentation.</a></p> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
